
.backgroundGradient {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: inherit;
    height: 30%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}
#profile {
    box-shadow: 0 2px 10px 0 rgba(84,84,84,0.75);
    font-size: 1.25rem;
    color: #fff;
    font-weight: bold;

    height: 667px;
    max-height: calc(100vh - 115px);
    border-radius: 10px;
    margin-bottom: 10px;
    scrollbar-width: none;
    overflow-y: scroll;
}
@media only screen and (max-width: 767px) {
    #profile {
        max-height: calc(100vh - 135px);
    }
}
#profile > .visible {
    max-height: 100%;
    position: relative;
    height: inherit;
}
#profile::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#profile > div > .img {
    transform: 1s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#profile {
    background-color: #fff;
    position:relative;
    /* overflow: auto; */
}
#profile > div .information {
    position: absolute;
    bottom: 10px;
}
.interactive-icon > .col{
    text-align: center;
}
#profile > .detail {
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    color: #545454;
    font-size: 1rem;
    text-align: left;
    display: none;
}
#profile.details > .detail {
    display: inline;
}
#profile.details > .visible {
    max-height: 90%;
}
#profile.details > img {
    bottom: 30px;
}
#profile.details > .visible > .information > .row > .col > .interactive-icon {
    display: none;
}