img {
  object-fit: cover;
  width: 55px;
  height: 55px;
  vertical-align: middle;
}

h5 {
  text-align: center;
  color: white;
  font-weight: bolder;
}

.side {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
